


.detail-container {
    display: flex;
    justify-content: center;
    gap: 3%;
    padding: 3% 10%;
}

.image-container1 {
    flex: 1;
   
}

.image1-container img{
    width: 100px;
    height: 100px;
}

.image1-container{
    display: flex;
}

.detail-container1 {
    flex: 1;
    
}
.detail-container1 h1 {
    margin-bottom: 5%;
    padding: 0;
    color: #000000;
    font-size: 24px;
    font-weight: 700;
    text-transform: uppercase;
    line-height: 24px;
    letter-spacing: 0.1px;
}

.detail-container1 h2 {
    color: #ff5733;
    font-size: 35px;
    font-weight: 700;
    margin-bottom: 5%;

}
.detail-container1 p {
    color: #444444;
    font-family: "Barlow", Sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 22px;
}   

.detail-container2 {
    width: 180px;
    height: 45px;
    border-radius: 5px;
    color: white;
    background-color: black;
    border: none;
    margin-top: 6%;
}

.detail-container2:hover {
    background-color: #ff594f;
}

.detai-container3 {
    display: flex;
    gap: 3%;
}

.detai-container3 span {
    font-family: "Montserrat", Sans-serif;
    font-size: 14px;
    font-weight: 500;
    line-height: 1.4em;
    margin-left: 5%;
}

.detai-container3 p {
    font-family: "Montserrat", Sans-serif;
    font-size: 13px;
    font-weight: 400;
    line-height: 1.4em;
}

.detail-text{
    display: flex;
    padding: 2% 10%;
    gap: 4%;
    margin-bottom: 5%;
}

.detail-text1 span{
    margin-right: 3%;
    font-size: 18px;
    font-weight: 500;
   
    
}

.detail-text2{
        font-family: "Montserrat", Sans-serif;
            font-size: 16px;
            font-weight: 400;
            line-height: 1.4em;
}